.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.wrapper {
    display: flex;
    align-items: center;
    /*gap: 10px;*/

    width: 300px;
    position: relative;
}
.numbers {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    bottom: 5px;
    left: -30px;
    /*padding-right: 10px;*/
}

.number {
    position: absolute;
    bottom: 4px;
    right: -53px;
    font-size: 18px;
    font-weight: bold;
    width: 40px;
    text-align: center;
}

.firstSuperRange {
    flex: 1;
    /*margin: 0 10px;*/
}

#hw11-double-slider {
    width: 100%;
}
